* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #4b7c4b;
    font-family:Arial, Helvetica, sans-serif;
    min-height: 710px;
}

.app {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    font-size: 60px;
    color: #ffffff;
}

h4 {
    color: #ffffff;
    text-align: center;
    font-size: 18px;
}

.task {
    text-align: absolute;
    margin-top: 60px;
}

input {
    font-size: 20px;
    width: 350px;
    height: 40px;
    border: 0;
    border-radius: 5px;
    padding-left: 5px;
}

p {
    position: absolute;
    margin-top: 25px;
    margin-left: 180px;
}

#btn {
    font-size: 30px;
    color: #ffffff;
    position: absolute;
    margin-left: 10px;
}

#btn:hover {
    opacity: 0.5;
}

#neuesDiv {
    font-size: 15px;
    float: center;
    margin-top: 10px;
    border-radius: 10px;
    width: 400px;
    height: 40px;
}

#eingabe {
    position: absolute;
    font-size: 18px;
    color: #ffffff;
    margin-top: 10px;
    margin-left: 50px;
}

.fa-trash {
    font-size: 20px;
    position: absolute;
    margin-left: 320px;
    margin-top: 10px;
    opacity: 50%;
    color: #ffffff;
}

.fa-circle {
    font-size: 20px;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    opacity : 50%;
    color: #ffffff;
}

.fa-check-circle {
    font-size: 20px;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    opacity: 100%;
    color: #ffffff;
}



.addline {
display: flex;
justify-content: space-between;
height: 50px;
}

#addtask {
    width: 250px;
    border-style: solid;
    text-align: center;
}

#button {
    width: 50px;
    font-size: 35px;
}