header {
    background-image: url(img/header1.jpg);
    height: 400px;
    animation-name: slideshow;
    animation-iteration-count: infinite;
    animation-duration: 10s;
}

.container {
    width: 800px;
    margin: auto;
    display: block;
}

body {
    border: 0px;
    margin: 0px;
    padding: 0px;
    font-family: verdana;
    color: black;
}

h1 {
    text-align: center;
    font-family: 'Cinzel';
    font-size: 30pt;
}

h2 {
    font-family: 'Cinzel';
    font-size: 25pt;
}

#navi {
    text-align: right;
    font-family: 'Cinzel';
    font-size: 35pt;
}

#logo {
    position: absolute;
    top: 10px;
}

#navi li {
    display: inline;
}

#navi a:link {
    text-decoration: none;
    color: grey;
    font-size: 15pt;
}

#navi a:visited {
    text-decoration: none;
    color: grey;
    font-size: 15pt;
}

#navi a:hover {
    text-decoration: underline;
    color: white;
}

footer {
    background-color: #eaeaea;

    font-size: 12pt;
    padding-top: 20px;
    padding-bottom: 20px;
}

table {
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

.image {
    opacity: 0.5;
}

img.image:hover {
    width: 32%;
    opacity: 1;
}

img.icons {
    opacity: 0.5;
}

img.icons:hover {
    opacity: 1;
}

@keyframes slideshow {

    0%,
    50% {
        background-image: url("img/header1.jpg");
    }

    50%,
    100% {
        background-image: url("img/header2.jpg");
    }

    100%{
        background-image: url("img/header1.jpg");
    }
}

.störer{
    float: right;
    position: sticky;
    top: 0;
    width: 20%;
}

input{
    font-size: 25pt;
    width: 40%;
}