header {
    background-image: url(img/header.jpg);
    height: 400px;
}

.container {
    width: 800px;
    margin: auto;
    display: block;
}

body {
    font-family: verdana;
    color: black;
}

#navi {
    text-align: right;
}

#logo {
    position: absolute;
    top: 10px;
    width: 180px;
    height: 103px;
}

#navi li {
    display: inline;
}

#navi a:link {
    text-decoration: none;
    color: grey;
    font-size: 15pt;
}

#navi a:visited {
    text-decoration: none;
    color: grey;
    font-size: 15pt;
}

#navi a:hover {
    text-decoration: underline;
    color: black;
}

footer {
    background-color: #eaeaea;
    font-size: 12pt;
}

table {
    width: 100%;
}