header {
    background-image: url(img/header.jpg);
    height: 400px;
}

body{
	font-family: verdana;
	color: black;
}

#navi{
    text-align: right;
}

#navi li{
    display: inline; 
}

#navi a:link{
    text-decoration: none;
    color: grey;
    font-size: 15pt;
}

#navi a:hover {
    text-decoration: underline;
    color: black;


}
